/* color palette from <https://github.com/vuejs/theme> */

/* semantic color variables for this project */
:root {
  --el-text-color-primary: #606266 !important;
  --color-heading: #1f2328;
  --color-time: #a8a8a7;
  --color-login: #f6f8fa;
}
html.dark {
  --el-text-color-primary: #cfd3dc !important;
  --color-heading: #fff;
  --color-time: #a19f9f;
  --color-login: #191919;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  margin-top: 65px;
  min-height: 100vh;
  color: var(--el-text-color-primary);
  background: var(--el-bg-color);
  /* transition:
    color 0.5s,
    background-color 0.5s; */
  line-height: 1.6;
  font-family: var(--el-font-family);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
