@import './base.css';

a,
.green {
  text-decoration: none;
  color: #0969da;
  transition: 0.4s;
  padding: 3px;
}
/* 下拉選單 */
.el-dropdown-menu__item:not(.is-disabled):focus {
  background-color: rgba(0, 0, 0, 0) !important;
}
/* 輸入框 */
.el-input {
  --el-input-border-radius: 6px !important;
}
.el-textarea {
  --el-input-border-radius: 6px !important;
}
/* 加載 */
.el-loading-mask {
  background-color: var(--el-bg-color) !important;
}
/* 歷史Post Dialog */
.historyDialog {
  padding: 0 !important;
  header {
    padding-bottom: 0 !important;
  }
  button.el-dialog__headerbtn {
    display: flex;
    align-items: center;
  }
}
/* switchTheme */
.el-switch__core .el-switch__action{
  background-color: #ffffff !important;
  color: #606266 !important;
}
.el-switch.is-checked .el-switch__core .el-switch__action {
  background-color: #141414 !important;
  color: var(--el-text-color-regular) !important;
}
