@import './base.css';

a,
.green {
  text-decoration: none;
  color: #0969da;
  transition: 0.4s;
  padding: 3px;
}
/* 下拉選單 */
.el-dropdown-menu {
  background-color: var(--color-background) !important;
}
.el-dropdown-menu__item:not(.is-disabled):focus {
  background-color: rgba(0, 0, 0, 0) !important;
  color: var(--color-text) !important;
}
.el-popper is-pure is-light el-dropdown__popper {
  border: 1px solid var(--color-border) !important;
}
.el-dropdown__popper.el-popper {
  background: var(--color-background) !important;
  border: 1px solid var(--color-border) !important;
}
.el-popper.is-light .el-popper__arrow::before {
  background: var(--color-background) !important;
  border: 1px solid var(--color-border) !important;
}
/* 輸入框 */
.el-input {
  --el-input-bg-color: var(--color-input) !important;
  --el-input-border-color: var(--color-border) !important;
  --el-input-hover-border-color: var(--color-border-hover) !important;
  --el-input-border-radius: 6px !important;
  --el-input-text-color: var(--color-text) !important;
  --el-input-placeholder-color: var(--el-text-color-regular) !important;
}
.el-textarea {
  --el-input-bg-color: var(--color-input) !important;
  --el-input-border-color: var(--color-border) !important;
  --el-input-hover-border-color: var(--color-border-hover) !important;
  --el-input-text-color: var(--color-text) !important;
  --el-input-placeholder-color: var(--el-text-color-regular) !important;
}
/* 通知 */
.el-notification {
  color: var(--color-text) !important;
  background-color: var(--color-background) !important;
  border: 1px solid var(--color-border) !important;
}
/* 加載 */
.el-loading-mask {
  background-color: var(--color-background) !important;
}
/* 統計數字 */
.el-statistic__content {
  color: var(--color-text) !important;
}
/* 對話框 */
.el-dialog {
  --el-dialog-bg-color: var(--color-background) !important;
  .el-dialog__title {
    color: var(--color-text) !important;
  }
}
.historyDialog {
  padding: 0 !important;
  header {
    padding-bottom: 0 !important;
  }
  button.el-dialog__headerbtn {
    display: flex;
    align-items: center;
  }
}
/* popover */
.el-popover.el-popper {
  color: var(--color-text) !important;
}